/* Move down content because we have a fixed navbar that is 50px tall */
body {

}

nav {
font-family: 'PT Sans Narrow', sans-serif;
font-size: 25px;
}

h1 {

}

h2 {

}

p{

}


h1.jumbo {

}

/*NAVBAR_styling*/
.navbar-fixed-top {
  z-index: 2000;
}

#logo {
  max-height:70px;
}

.navbar-default {
  background-color: white;
  border-color: transparent;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus  {
  color: #801515;
}

.navbar-default .navbar-nav>li>a {
  color: black;
  line-height: 40px;
}

.navbar-brand {
  padding: 0;
}

.hvr-overline-from-center:before {
  background: #AA3939;
}

/*END_nabar_styling*/

#fullpage {
  z-index: 1500;
}

.vid-cont {
  background-image: url("../video/hello-world.jpg");
  background-size: cover;
  height: 100vh;
  position: fixed;
  width: 100%;
}


.fture {
  height: 100vh;
  text-align: center;
  min-height: 500px;
  background-color: white;
}

.fture h1 {
  margin: 0px 0px 20px 0px;
  font-size: 6em;
}

.hello {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  width: 100%;
  text-align: center;
  color: white;
}

/*COVER VIDEO helloworld*/

video {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('../video/hello-world.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}
/* end of coverr */

@media screen and (min-aspect-ratio: 16/9) {
    video {
      width: 100%;
    }
}

@media screen and (max-width: 767px) {
    video {
      display: none;
    }

    #logo {
        max-height: 50px;
    }

    .container>.navbar-header {
      margin: 0;
    }

    .navbar-header button {
      margin-right: 0;
    }
}
