/* Move down content because we have a fixed navbar that is 50px tall */

@font-face {
    font-family: nobel;
    src: url(../Fonts/nobel.otf);
}
@font-face {
    font-family: nobelReg;
    src: url(../Fonts/nobel_reg.ttf);
}
body {
    font-family: 'nobel', sans-serif;
    text-align: center;
}
nav {
    font-size: 25px;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    color: white;
}
h2 {
    font-size: 2em;
}
p {
    font-size: 2em;
    color: white;
}

.purple {
  text-align: right;
  padding-top: 10px;
  width: 560px;
}


.sep {
    width: 90%;
}
.clear {
    margin: 0;
}
.uncle>.container>p {
    font-size: 3em;
}
.fadeIn {
    animation-duration: 1s;
}
.fadeout {
    animation-duration: 1s;
}
.filter {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
}
.filter.colorfy {
    background-color: rgba(0, 0, 0, 0);
}
.filter-load {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1000;
}
.full-height {
    height: 100vh;
}




#overlay{
  position:fixed;
  z-index:99999;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background:rgba(0,0,0,1);
    -webkit-transition: opacity ease-in-out 10s;
    -moz-transition: opacity ease-in-out 10s;
    -o-transition: opacity ease-in-out 10s;
    -ms-transition: opacity ease-in-out 10s;
    transition: opacity ease-in-out 10s;
}
#progress{
  height:1px;
  background:#fff;
  position:absolute;
  width:0;
  top:50%;
}
#progstat{
  font-size:0.7em;
  letter-spacing: 3px;
  position:absolute;
  top:50%;
  margin-top:-40px;
  width:100%;
  text-align:center;
  color:#fff;
}

/* ##     ## ##     ## ########   #######
      ## ##     ## ###   ### ##     ## ##     ##
      ## ##     ## #### #### ##     ## ##     ##
      ## ##     ## ## ### ## ########  ##     ##
##    ## ##     ## ##     ## ##     ## ##     ##
##    ## ##     ## ##     ## ##     ## ##     ##
 ######   #######  ##     ## ########   #####*/

.vert-cont {
    position: relative;
}
h1.jumbo {
    text-transform: uppercase;
    width: 100%;
    margin: 30px auto 50px auto;
    color: white;
    font-size: 5em;
}
h2.jumbo {
    margin-bottom: 50px;
    width: 100%;
    margin: 20px auto 50px auto;
}
#leverage {
    font-weight: 700;
    font-size: 6em;
    margin: 60px auto 60px auto;
}
.btWeb {
    overflow: hidden;
}
.hello {
    width: 100%;
    text-align: center;
    color: white;
    min-height: 100vh;
    box-shadow: -20px 0 60px 30px black;
}
.hello>.fp-tableCell {
    box-shadow: inset 0px 0px 20px 3px black;
}
.btn-lg {
    letter-spacing: 2px;
    font-size: 2em;
    padding: 10px 5px;
    line-height: 1.3333333;
    border-radius: 2.5em;
    position: static;
}
.btn-e {
    padding: 0 20px;
}
.btn-primary {
    background-image: url('../photos/details.png');
    background-color: transparent;
    color: #fff;
    /*background-color: rgba(60, 57, 230, 0.7);*/
    border-color: #fff;
    border: 0px;
    margin: auto;
    font-size: 45px;
    height: 142px;
    width: 375px;

}
.btn-primary.focus, .btn-primary:focus, .btn-primary.hover, .btn-primary:hover, .btn-primary.active, .btn-primary:active, .btn-primary:active:focus, .btn-primary:active:hover {
    color: #fff;
    /*background-color: rgba(60, 57, 230, .9);*/
    border-color: #fff;
}
.btn-holder {
    text-align: center;
    width: 100%;
    position: fixed;
    z-index: 10000;
    bottom: 20px;
}
.arrow {
    position: absolute;
    left: 50%;
}
a.scrollTo {
    position: absolute;
    bottom: -25px;
    font-size: 8em;
    color: white;
    transform: translateX(-50%);
    display: none;
    !important
}

/*######   #######  ######## ##    ##    ###    ##     ##
##     ## ##     ##    ##    ###   ##   ## ##   ##     ##
##     ## ##     ##    ##    ####  ##  ##   ##  ##     ##
##     ## ##     ##    ##    ## ## ## ##     ## ##     ##
##     ## ##     ##    ##    ##  #### #########  ##   ##
##     ## ##     ##    ##    ##   ### ##     ##   ## ##
########   #######     ##    ##    ## ##     ##    #*/

.dotstyle ul {
    position: absolute;
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: default;
    z-index: 5000;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.dotstyle li {
    position: relative;
    display: block;
    margin: 0 16px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-bottom: 12px;
}
.dotstyle li a {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 50%;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
    text-indent: -999em;
    cursor: pointer;
    /* make the text accessible to screen readers */
    position: absolute;
}

/* Fill up */

.dotstyle-fillup li a {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 1);
    transition: background 0.3s;
}
.dotstyle-fillup li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 1px #fff;
    transition: height 0.3s;
}
.dotstyle-fillup li a:hover, .dotstyle-fillup li a:focus {
    background-color: rgba(255, 255, 255, 0.6);
}
.dotstyle-fillup li.active a::after {
    height: 100%;
}

/* SVG draw circle stroke */

.bounceInUp {
    -webkit-animation: bounceInUp 3.5s infinite alternate;
    -o-animation: bounceInUp 3.5s infinite alternate;
    animation: bounceInUp 3.5s infinite alternate;
}
@-webkit-keyframes bounceInUp {
    0% {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
    }
    50% {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
    }
    75% {
        -webkit-transform: translateY(15px);
        -moz-transform: translateY(15px);
        -ms-transform: translateY(15px);
        transform: translateY(15px);
    }
    100% {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
    }
}
@keyframes bounceInUp {
    0% {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
    }
    50% {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
    }
    75% {
        -webkit-transform: translateY(15px);
        -moz-transform: translateY(15px);
        -ms-transform: translateY(15px);
        transform: translateY(15px);
    }
    100% {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
    }
}

/*    ##    ###    ##     ## ########     ###    ########
###   ##   ## ##   ##     ## ##     ##   ## ##   ##     ##
####  ##  ##   ##  ##     ## ##     ##  ##   ##  ##     ##
## ## ## ##     ## ##     ## ########  ##     ## ########
##  #### #########  ##   ##  ##     ## ######### ##   ##
##   ### ##     ##   ## ##   ##     ## ##     ## ##    ##
##    ## ##     ##    ###    ########  ##     ## ##     */

.home.navbar-default {
    position: absolute;
    top: 0px;
    width: inherit;
}
.nav-up {
    top: -90px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.nav-down {
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.navbar {
    z-index: 2000;
    vertical-align: none;
}
#logo {
    height: 300px;
    max-height: 500px;
    margin: 0px auto 50px auto;
    background-color: transparent;
}
.home {
    background-color: transparent;
    border-color: white;
}
.back {
    background-color: rgba(255, 255, 255, 0.8);
    border-color: white;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #AA3939;
}
.home .navbar-nav>li>a {
    color: white;
}
.back .navbar-nav>li>a {
    color: black;
}
.navbar-default .navbar-nav>li>a {
    line-height: 60px;
}
.hvr-overline-from-center:before {
    background: #AA3939;
}
.navbar-brand>img {
    height: 60px;
}

/*######   #######  ########  ##    ##
##     ## ##     ## ##     ##  ##  ##
##     ## ##     ## ##     ##   ####
########  ##     ## ##     ##    ##
##     ## ##     ## ##     ##    ##
##     ## ##     ## ##     ##    ##
########   #######  ########     */


/*info tech manage logo*/

#info1 {
    color: white;
    font-size: 6em;
}

/*END_nabar_styling*/

#fullpage {
    z-index: 1500;
}

.fture {

}

.featCont {
    padding: 0 50px;
}

.fp-tableCell>.container {
    margin: 0;
}

.fture h1 {
    margin: 0px 0px 20px 0px;
}
.featLink {
    /*text-shadow: 0px 0px 12px black;
    color: #D46A6A;*/
    font-family: 'nobelReg', sans-serif;
    margin-top: 30px;
}
.featLink:hover, .featlink:focus, .featLink:active, .featLink:active:hover, .featLink:active:focus {
    text-decoration: none;
    color: #ddd;
}
p.feat {
    width: 560px;

}
.animated {
    display: block;
}
.feat-head-l {
    text-align: left;
    top: 50px;
    left: 50px;
}
.feat-head-r {
    text-align: left;
    top: 50px;
    left: 50px;

}
.feat-p-l {
    text-align: left;
    bottom: 50px;
    left: 50px;

}
.feat-p-r {
    text-align: left;
    bottom: 50px;
    left: 50px;

}
.bkImages {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
}
.images img {
    width: 100%;
    position: fixed;
}
.images {
    position: fixed;
}
#img-2 {
    opacity: 0;
}
#img-3 {
    opacity: 0;
}
#img-4 {
    opacity: 0;
}


/*COVER VIDEO helloworld*/

video {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -100;
    background: url('../photos/deepspace.png') no-repeat;
    background-size: cover;
    transition: 1s opacity;
    overflow: hidden;
    min-height: 100vh
}

/*######  #######   #######  ######## ######## ########
##       ##     ## ##     ##    ##    ##       ##     ##
##       ##     ## ##     ##    ##    ##       ##     ##
######   ##     ## ##     ##    ##    ######   ########
##       ##     ## ##     ##    ##    ##       ##   ##
##       ##     ## ##     ##    ##    ##       ##    ##
##        #######   #######     ##    ######## ##     */

.footer {
    height: 300px;
    background-color: white;
}
.ftLogo {
    position: relative;
    margin-top: 25px;
    width: 420px;
}
hr {
    border-color: #B9B9B9;
    width: 600px;
}
.ftServices p {
    color: black;
    font-size: 1.7em;
    margin-top: 15px;
    text-align: center;
}
.ftLinks {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
}
.bullet {
    width: 100%;
    position: relative;
    font-size: 1.7em;
}
.bulleta {
    color: #AA3939;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 50px;
}
.bulleta:hover, .bulleta:focus, .bulleta:active {
    color: black;
    text-decoration: none;
}
@media screen and (min-aspect-ratio: 16/9) and (min-width: 1024px) {
    video {
        width: 100%;
    }
}
@media screen and (max-aspect-ratio: 16/9) {
    video {
        height: 100vh;
    }
}
@media screen and (min-aspect-ratio: 3/2) and (min-width: 768px) {}
@media screen and (max-aspect-ratio: 3/2) and (min-width: 768px) {
    .images img {
        width: inherit;
        height: 100vh;
    }
    .bkImages {
        width: inherit;
        height: 100vh;
    }
}

/*######    ###    ########  ##       ######## ########
   ##      ## ##   ##     ## ##       ##          ##
   ##     ##   ##  ##     ## ##       ##          ##
   ##    ##     ## ########  ##       ######      ##
   ##    ######### ##     ## ##       ##          ##
   ##    ##     ## ##     ## ##       ##          ##
   ##    ##     ## ########  ######## ########    */

@media (max-width: 1199px) {
    #logo {
        height: 200px;
    }
}
@media (max-width: 991px) {
    body {
        font-size: 1em;
    }
    p {
        font-size: 2em;
    }
    hr {
        width: 250px;
    }
    .uncle>.container>p {
        font-size: 2em;
    }
    .back .navbar-nav>li>a {
        line-height: 40px;
    }
    .navbar-brand>img {
        height: 40px;
    }
}

/*     ##  #######  ########  #### ##       ########
###   ### ##     ## ##     ##  ##  ##       ##
#### #### ##     ## ##     ##  ##  ##       ##
## ### ## ##     ## ########   ##  ##       ######
##     ## ##     ## ##     ##  ##  ##       ##
##     ## ##     ## ##     ##  ##  ##       ##
##     ##  #######  ########  #### ######## ######*/

@media screen and (max-width: 767px) {
    body {
        font-size: 1em;
    }
    p {
        font-size: 2em;
    }
    hr {
        width: 250px;
    }
    .sep {
        display: none;
    }
    .images img {
        width: 300%;
        -webkit-transform: translateX(-30%);
        -ms-transform: translateX(-30%);
        -o-transform: translateX(-30%);
        transform: translateX(-30%);
    }
    .bkImages {
        width: 300%;
        -webkit-transform: translateX(-55%);
        -ms-transform: translateX(-55%);
        -o-transform: translateX(-55%);
        transform: translateX(-55%);
    }
    .dotstyle {
        display: none;
    }
    .filter {
        height: 1000%;
    }
    .filter-load {
        height: 1000%;
    }
    /* Navbar */
    .navbar-brand>img {
        height: 30px;
    }
    .navbar-brand {
        padding: 10px 0;
    }
    .container>.navbar-header {
        margin: 0;
    }
    .navbar-header button {
        margin-right: 0;
    }
    /* .brand {
      padding: 0;
      position: absolute;
      left: 15px;
      -webkit-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none;
    } Unecessary unless we want to position this in the header of Navbar */
    /* a.brand {
      top: 100px;
    }  Unecessay unless want to apply this attribute mobile only */
    .navbar-collapse {
        background-color: rgba(255, 255, 255, 0.8);
    }
    .navbar-default .navbar-nav>li>a {
        color: black;
        line-height: 40px;
    }
/*######   #######  ########  ##    ##
##     ## ##     ## ##     ##  ##  ##
##     ## ##     ## ##     ##   ####
########  ##     ## ##     ##    ##
##     ## ##     ## ##     ##    ##
##     ## ##     ## ##     ##    ##
########   #######  ########     */
    #logo {
        max-height: 90px;
        margin: 0px auto;
    }
    #leverage {
        font-size: 3.5em;
        margin: 30px auto 20px auto;
        width: 90%
    }
    #info1 {
        font-size: 2.5em;
        margin-bottom: 50px;
        width: 90%;
        margin: 40px auto 30px auto;
    }
    .btn-lg {
        margin-bottom: 20px;
        margin-top: 20px;
        position: fixed;
        top: 50px;
        right: 50px;
    }
    .btn-e {
        padding: 0 10px;
    }
    .hello {
        top: 50%;
        width: 100%;
        text-align: center;
        color: white;
    }
    .jumbo-set {
        position: absolute;
        background-image: url("../photos/deepspace.png");
        background-size: cover;
        height: 100%;
        width: 100%;
        top: 0;
    }
    .vert-cont {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    a.scrollTo {
        bottom: -15px;
        display: inline;
        !important
    }
    video {
        display: none;
    }

    p.feat {
        width:90%;
    }
    .feat {
        position: static;
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    .featCont {
        padding: 0 15px;
    }
    .featLink>img {
        width: 100%;
    }

    .fture h1 {
        margin: 0px auto 20px auto;
        font-size: 3em;
    }
    .init {}
    .feat-head-l {
        text-align: center;
        top: auto;
        left: auto;
        width: 90%;
    }
    .feat-head-r {
        text-align: center;
        top: auto;
        right: auto;
        width: 90%;
    }
    .feat-p-l {
        text-align: center;
        bottom: auto;
        left: auto;
        width: 90%;
    }
    .feat-p-r {
        text-align: center;
        bottom: auto;
        right: auto;
        width: 90%;
    }
/*######  #######   #######  ######## ######## ########
##       ##     ## ##     ##    ##    ##       ##     ##
##       ##     ## ##     ##    ##    ##       ##     ##
######   ##     ## ##     ##    ##    ######   ########
##       ##     ## ##     ##    ##    ##       ##   ##
##       ##     ## ##     ##    ##    ##       ##    ##
##        #######   #######     ##    ######## ##     */
    .ftLogo {
        max-width: 95%;
    }
    .bulleta {
        padding: 0 5px;
    }
    .ftServices p {
        margin-top: 30px;
    }
} /*end of line 545 (MOBILE SEC.)!*/
@media (min-width: 768px) {
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: 0px;
    }
    .home ul.nav {
        width: 100%;
    }
    .home #navbar>ul>li {
        width: 25%;
    }
    .home .navbar-right {
        margin-right: 0px;
    }
}
