/* Move down content because we have a fixed navbar that is 50px tall */
body {

}

nav {
font-family: 'PT Sans Narrow', sans-serif;
font-size: 25px;
}

h1 {

}

h2 {

}

p{

}


h1.jumbo {

}

/*NAVBAR_styling*/
.navbar-fixed-top {
  z-index: 2000;
}

#logo {
  max-height:70px;
}

.navbar-inverse {
  background-color: white;
  border-color: transparent;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus  {
  color: #550000;
}

.navbar-inverse .navbar-nav>li>a {
  color: black;
  line-height: 40px;
}

.navbar-brand {
  padding: 0;
}

.hvr-overline-from-center:before {
  background: #AA3939;
}

/*END_nabar_styling*/

#fullpage {
  z-index: 1500;
}


.fture {
  height: 100vh;
  text-align: center;
  min-height: 500px;
  background-color: white;
}

.fture h1 {
  margin: 0px 0px 20px 0px;
  font-size: 6em;
}

.hello {
  z-index: 1000;
  position: absolute;
  top: 35%;
  text-align: center;
  width: inherit;
  color: white;
}

/*COVER VIDEO helloworld*/
.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}
.no-video .video-container video,
.touch .video-container video {
  display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}
.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
}
.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}
.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0);
  width: 100%;
}
.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}
.video-container video.fillWidth {
  width: 100%;
}
/* end of coverr */
