/* Move down content because we have a fixed navbar that is 50px tall */
@font-face {
  font-family: nobel;
  src: url(../Fonts/nobel.otf);
}


body {
  font-family: 'nobel', sans-serif;
  text-align: center;
}

nav {
  font-size: 25px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

h2 {
  font-size: 2em;
}

p{
  font-size: 3em;
  color: white;
}

.filter-load {
  position: fixed;
  width:100%;
  height:100vh;
  background-color: rgba(0, 0, 0, 1);
  z-index: 10000;
}


.full-height {
  height: 100vh;
}


h1.jumbo {
  text-transform: uppercase;
  width: 70%;
  margin: 30px auto 50px auto;
  color: white;
  font-size: 5em;
}

h2.jumbo {
  margin-bottom: 50px;
  width: 70%;
  margin: 20px auto 50px auto;
}

.btn-lg {
    letter-spacing: 2px;
    font-size: 3em;
    padding: 18px 28px;
    line-height: 1.3333333;
    border-radius: 2.5em;
}

.btn-e {
  padding: 0 70px;
}

.btn-primary {
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
    border-color: #fff;
    border: 4px solid;
}

.btn-primary.focus, .btn-primary:focus, .btn-primary.hover, .btn-primary:hover, .btn-primary.active, .btn-primary:active {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    border-color: #fff;
}

.btn-holder {
  text-align: center;
}

.arrow {
    position: absolute;
    left: 50%;
}

a.scrollTo {
    position: absolute;
    bottom: -25px;
    font-size: 8em;
    color: white;
    transform: translateX(-50%);
}


/* End Jmbo - Start Featurettes */
    .dotstyle ul {
      position: absolute;
      display: inline-block;
      margin: 0;
      padding: 0;
      list-style: none;
      cursor: default;
      z-index: 5000;
      right: 10px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    .dotstyle li {
      position: relative;
      display: block;
      margin: 0 16px;
      width: 16px;
      height: 16px;
      cursor: pointer;
      margin-bottom: 12px;
    }

    .dotstyle li a {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      outline: none;
      border-radius: 50%;
      background-color: #fff;
      background-color: rgba(255,255,255,0.3);
      text-indent: -999em;
      cursor: pointer; /* make the text accessible to screen readers */
      position: absolute;
    }


/* Fill up */
    .dotstyle-fillup li a {
      overflow: hidden;
      background-color: rgba(0,0,0,0);
      box-shadow: inset 0 0 0 2px rgba(255,255,255,1);
      transition: background 0.3s;
    }

    .dotstyle-fillup li a::after {
      content: '';
      position: absolute;
      bottom: 0;
      height: 0;
      left: 0;
      width: 100%;
      background-color: #fff;
      box-shadow: 0 0 1px #fff;
      transition: height 0.3s;
    }

    .dotstyle-fillup li a:hover,
    .dotstyle-fillup li a:focus {
      background-color: rgba(255,255,255,0.6);
    }

    .dotstyle-fillup li.active a::after {
      height: 100%;
    }

/* SVG draw circle stroke */  




.bounceInUp {
  -webkit-animation: bounceInUp 3.5s infinite alternate;
  -o-animation: bounceInUp 3.5s infinite alternate;
  animation: bounceInUp 3.5s infinite alternate;
}

@-webkit-keyframes bounceInUp {
    0% {-webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);}

    50% {-webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);}

    75% {-webkit-transform: translateY(15px);
    -moz-transform: translateY(15px);
    -ms-transform: translateY(15px);
    transform: translateY(15px);}

    100% {-webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);}
}

@keyframes bounceInUp {
    0% {-webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);}

    50% {-webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);}

    75% {-webkit-transform: translateY(15px);
    -moz-transform: translateY(15px);
    -ms-transform: translateY(15px);
    transform: translateY(15px);}

    100% {-webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);}
}

/*NAVBAR_styling*/
.navbar {
  z-index: 2000;
  vertical-align: none;
}

#logo {
  max-height:70px;
}

.navbar-default {
  background-color: white;
  border-color: transparent;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus  {
  color: #801515;
}

.navbar-default .navbar-nav>li>a {
  color: black;
  line-height: 40px;
}

.navbar-brand {
  padding: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.hvr-overline-from-center:before {
  background: #AA3939;
}

/*END_nabar_styling*/

#fullpage {
  z-index: 1500;
}

.jumbo-set {

}

.fture {

}

.fture h1 {
  margin: 0px 0px 20px 0px;
  font-size: 6em;
}

.feat {
  position: absolute;
  display: none;
}

.animated {
  display: block;
}

.feat-head-l {
  text-align: left;
  top:50px;
  left:50px;
  width:70%;
}

.feat-head-r {
  text-align: right;
  top:50px;
  right:50px;
  width:70%;
}

.feat-p-l {
  text-align: left;
  bottom:50px;
  left:50px;
  width:70%;
}

.feat-p-r {
  text-align: right;
  bottom:50px;
  right:50px;
  width:70%;
}

.btWeb {
  overflow: hidden;
}

.hello {
  transform: translateY(-50%);
  top: 50%;
  width: 100%;
  text-align: center;
  color: white;
}

.images img {
  width: 100%;
  position: fixed;
}

.images {
  position: fixed;
}

#img-2 {
  opacity: 0;
}

#img-3{
  opacity: 0;
}

#img-4 {
  opacity: 0;
}

.filter {
  position: fixed;
  width:100%;
  height:100vh;
  background-color: rgba(0, 0, 0, 0.2);

}

/* Shimmer */

.shimmer {
  text-align: center;
  color: rgba(255,255,255,0.5);
  background: -webkit-gradient(linear, left top, right top, from(#666), to(#666), color-stop(0.5, #fff));
  background: -moz-gradient(linear, left top, right top, from(#666), to(#666), color-stop(0.5, #fff));
  background: gradient(linear, left top, right top, from(#666), to(#666), color-stop(0.5, #fff));  
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: inherit;
  -webkit-background-size: 100px 100%;
  -moz-background-size: 100px 100%;
  background-size: 100px 100%;
    -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
  padding: 0 70px;
}

@-moz-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-webkit-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-o-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}

/* End Shimmer */

/*COVER VIDEO helloworld*/

video {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    background: url('../photos/sky.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
    overflow: hidden;
}
/* end of coverr */

.footer {
  height:300px;
  background-color: white;
}

.ftLogo {
  margin: 40px auto 0 auto;
}

.ftVendors {
  position: absolute;
  left: 50%;
  bottom: 40px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media screen and (min-aspect-ratio: 16/9) and (min-width: 768px) {
    video {
      width: 100%;
    }
}

@media screen and (max-aspect-ratio: 16/9) and (min-width: 768px) {
    video {
      height: 100%;
    }
}

@media screen and (min-aspect-ratio: 3/2) and (min-width: 768px) {
    
}

@media screen and (max-aspect-ratio: 3/2) and (min-width: 768px) {
    .images img {
      width: inherit;
      height: 100vh;
    }
}

@media screen and (max-width: 767px) {
    body {
      font-size: 1em;
    }

    p {
      font-size: 2em;
    }

    .images img {
      width: 300%;
      -webkit-transform: translateX(-30%);
      -ms-transform: translateX(-30%);
      -o-transform: translateX(-30%);
      transform: translateX(-30%);
    }

    .filter {
      height: 1000%;
    }

    .filter-load {
      height: 1000%;
    }

/* Navbar */

    #logo {
        max-height: 50px;
    }

    .container>.navbar-header {
      margin: 0;
    }

    .navbar-header button {
      margin-right: 0;
    }

/* End Navbar - Start Jumbo */

    h1.jumbo {
      font-size: 3em;
      margin: 30px auto 20px auto;
      width: 90%
    }

    h2.jumbo {
      margin-bottom: 50px;
      width: 90%;
      margin: 20px auto 30px auto;
    }

    .btn-lg {
      margin-bottom: 20px;
      margin-top: 20px;
    }

    .btn-e {
      padding: 0 10px;
    }

    .hello {
      transform: translateY(0%);
      top: 50%;
      width: 100%;
      text-align: center;
      color: white;
    }


    .jumbo-set {
      position: absolute;
      background-image: url("../photos/sky.jpg");
      background-size: cover;
      height: 100%;
      width: 100%;
      top: 0; 
    }

    .vert-cont {
      position: absolute;
      top:50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    a.scrollTo {
      bottom: -15px;
    }
    video {
      display: none;
    }

    .feat {
      position: static;
      display: block;
      text-align: center;
      margin: 0 auto;
    }

    .fture h1 {
      margin: 0px auto 20px auto;
      font-size: 3em;
    }

    .init {

    }

    .feat-head-l {
      text-align: center;
      top:auto;
      left:auto;
      width:90%;
    }

    .feat-head-r {
      text-align: center;
      top:auto;
      right:auto;
      width:90%;
    }

    .feat-p-l {
      text-align: center;
      bottom:auto;
      left:auto;
      width:90%;
    }

    .feat-p-r {
      text-align: center;
      bottom:auto;
      right:auto;
      width:90%;
    }

/* End Feat - Start Footer */

    .ftVendors {
      display: none;
    }

}

@media (min-width: 768px) {
    .navbar-brand {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      margin-left: 0;
    }

    ul.nav {
      width: 100%;
    }

    #navbar>ul>li {
      width:20%;
    }

    .navbar-right {
      margin-right: 0px;
    }
}
