/* Move down content because we have a fixed navbar that is 50px tall */
@font-face {
  font-family: nobel;
  src: url(../Fonts/nobel.otf);
}


body {
  font-family: 'nobel', sans-serif;
}

nav {
  font-size: 25px;
}

h1 {

}

h2 {

}

p{

}


h1.jumbo {
  text-transform: uppercase;
  width: 70%;
  margin: 30px auto 50px auto;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 5em;
}

h2.jumbo {
  margin-bottom: 50px;
  width: 70%;
  margin: 20px auto 50px auto;
}

.btn-lg {
    letter-spacing: 2px;
    font-size: 3em;
    padding: 18px 28px;
    line-height: 1.3333333;
    border-radius: 2.5em;
}

.arrow {
    position: absolute;
    left: 50%;
}

a.scrollTo {
    position: absolute;
    margin-bottom: 0;
    font-size: 8em;
    color: white;
    transform: translateX(-50%);
}



.bounceInUp {
  -webkit-animation-duration: .8s;
  -webkit-animation-name: bounceInUp;
  -webkit-animation-iteration-count: infinite;
  -o-animation-duration: .8s;
  -o-animation-name: bounceInUp;
  -o-animation-iteration-count: infinite; 
  animation-duration: .8s;
  animation-name: bounceInUp;
  animation-iteration-count: infinite;  
  animation-duration: .8s;
  animation-name: bounceInUp;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes bounceInUp {
    from {
      padding-top: 10px; 
    }

    to {
      padding-top: -10px;
      }
}

@-o-keyframes bounceInUp {
    from {
      padding-top: 10px; 
    }

    to {
      padding-top: -10px;
      }
}

@keyframes bounceInUp {
    from {
      padding-top: 10px; 
    }

    to {
      padding-top: -10px;
      }
}

/*NAVBAR_styling*/
.navbar {
  z-index: 2000;
  vertical-align: none;
}

#logo {
  max-height:70px;
}

.navbar-default {
  background-color: white;
  border-color: transparent;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus  {
  color: #801515;
}

.navbar-default .navbar-nav>li>a {
  color: black;
  line-height: 40px;
}

.navbar-brand {
  padding: 0;
}

.hvr-overline-from-center:before {
  background: #AA3939;
}

/*END_nabar_styling*/

#fullpage {
  z-index: 1500;
}





.fture {
  text-align: center;
}

.fture h1 {
  margin: 0px 0px 20px 0px;
  font-size: 6em;
}

.btWeb {
  overflow: hidden;
}

.hello {
  transform: translateY(-50%);
  top: 50%;
  width: 100%;
  text-align: center;
  color: white;
}

.images img {
  width: 100%;
  position: fixed;
}

#img-2 {
  opacity: 0;
}

#img-3{
  opacity: 0;
}

#img-4 {
  opacity: 0;
}

/*COVER VIDEO helloworld*/

video {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    background: url('../video/hello-world.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
    overflow: hidden;
}
/* end of coverr */

@media screen and (min-aspect-ratio: 16/9) and (min-width: 768px) {
    video {
      width: 100%;
    }
}

@media screen and (max-aspect-ratio: 16/9) and (min-width: 768px) {
    video {
      height: 100%;
    }
}

@media screen and (min-aspect-ratio: 3/2) and (min-width: 768px) {
    
}

@media screen and (max-aspect-ratio: 3/2) and (min-width: 768px) {
    .images img {
      width: inherit;
      height: 100vh;
    }
}

@media screen and (max-width: 767px) {
    video {
      display: none;
    }

    .jumbo-set {
      background-image: url("../video/hello-world.jpg");
      background-size: cover;
      height: 100vh;
      width: 100%;
      vertical-align: 
    }

    .hello {
      transform: translateY(0%);
      top: 50%;
      width: 100%;
      text-align: center;
      color: white;
    }

    .vert-cont {
      -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
      -o-transform: translateY(100%);
      transform: translateY(100%);
    }

    .images img {
      width: 300%;
      -webkit-transform: translateX(-30%);
      -ms-transform: translateX(-30%);
      -o-transform: translateX(-30%);
      transform: translateX(-30%);
    }

    #logo {
        max-height: 50px;
    }

    .container>.navbar-header {
      margin: 0;
    }

    .navbar-header button {
      margin-right: 0;
    }
}
