body {
  position: relative;
}

p {
  color: black;
  text-align: center;
}
h1 {
  color:black;
  text-align: center;
}


#home img {
  height: 50px;
}


.uncle ul {
  font-size: 2em;
  margin-left: 50px;
  padding-top: 30px;
}

.brother {
  position: static;
  background-size: cover;
  background-attachment: fixed;
  height: 1700px;
  top: 0;
}

.brother>img {
  top: 0;
}

.brotherForm {
  height: 1200px;
}

.brother>h1 {
  font-size: 5em;
  position: relative;
  top:20%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  color:black;
  margin: 0;
}

.contLogo {
    width: 450px;
    transform: translateY(10px);
}

.uncle {
  text-align: left;
  position: absolute;
  background: linear-gradient(rgba(255,255,255,0.8) 0%, white 100%);
  background-size: cover;
  width: 100%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}

.uncleForm {
  top: 1200px;
}

.formFeed {
  margin-top: 50px;
}

.bullet {
  width: 100%;
  position: relative;
  top: 50%;
}


#foot {
  position: relative;
  z-index: 100;
}

.ftLogo {
  width: 420px;
}


/* CUSTOM CONTACT FORM */

form {
  max-width: 800px;
  margin: 20px auto;
  text-align: left;
}

.form-horizontal .form-group-lg .control-label {
    padding: 0 0 5px 10px;
    font-size: 1.5em;
}

@media screen and (max-aspect-ratio: 3/2) and (min-width: 768px) {
    .bkImages {
        width: 100%;
        height: auto;
    }


@media (max-width: 767px) {
  .contLogo {max-width: 95%;}
  .brother>h1 {top:25%;}
  .brother {height: 1400px;}
  .bkImages {
      width: 150%;
      -moz-transform: translate(-30%,-20%);
      -webkit-transform: translate(-30%,-20%);
      -ms-transform: translate(-30%,-20%);
      -o-transform: translate(-30%,-20%);
      transform: translate(-30%,-20%);
    }
}

@media (max-width: 450px)  {
     .bkImages {
      width: 300%;
      -moz-transform: translate(-35%);
      -webkit-transform: translateX(-35%);
      -ms-transform: translateX(-35%);
      -o-transform: translateX(-35%);
      transform: translateX(-35%);
    }

}
