body {
  position: relative;
}

p {
  color: black;
}


#home img {
  height: 50px;
}

.uncle .container {
  padding-top: 0px;
}

.uncle ul {
  font-size: 2em;
  margin-left: 50px;
  padding-top: 30px;
}

.brother {
  position: static;
  background-size: cover;
  background-attachment: fixed;
  height: 1100px;
  top: 0;
}

.brother>h1 {
  font-size: 5em;
  position: relative;
  top:35%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  color:white;
  margin: 0;
}

.contLogo {
    width: 450px;
    transform: translateY(10px);
}

.uncle {
  top: 1100px;
  text-align: left;
  position: absolute;
  background: linear-gradient(rgba(255,255,255,0.8) 0%, white 100%);
  background-size: cover;
  width: 100%;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}

.bullet {
  width: 100%;
  position: relative;
  top: 50%;
}

.one {
  /* background-image: url("../../photos/field.jpg"); */
}

#two {

}

#foot {
  position: relative;
  z-index: 100;
}

.ftLinks {
  bottom:;
}

.ftLogo {
  width: 420px;
}

/* CUSTOM CONTACT FORM */

form {
  max-width: 800px;
  margin: 20px auto;
  text-align: left;
}

.form-horizontal .form-group-lg .control-label {
    padding: 0 0 5px 10px;
    font-size: 1.5em;
}




@media (max-width: 767px) {
  .contLogo {max-width: 95%;}
  .brother>h1 {top:25%;}
  .uncle {top:1000px;}
  .brother {height: 1000px;}
  .bkImages {
      width: 150%;
      -webkit-transform: translate(-30%,-20%);
      -ms-transform: translate(-30%,-20%);
      -o-transform: translate(-30%,-20%);
      transform: translate(-30%,-20%);
    }
}

@media (max-width: 450px)  {
     .bkImages {
      width: 300%;
      -webkit-transform: translateX(-55%);
      -ms-transform: translateX(-55%);
      -o-transform: translateX(-55%);
      transform: translateX(-55%);
    }

}
