p {
    color: black;
}
.uncle .container {
    padding-top: 40px;
    padding-bottom: 40px;
}
.uncle ul {
    font-size: 2em;
    padding-top: 30px;
}
.brother {
    text-align: center;
    position: static;
    background-size: cover;
    background-attachment: fixed;
    height: 800px;
    width: 100%;
    top: 0;
}

.bkImages{
    top:0px;
}
.brother>p {
    margin: 0;
}
.brother>h1 {
    font-size: 5em;
    position: relative;
    top: 35%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: white;
    margin: 0;
}
.uncle {
    text-align: left;
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    background-size: cover;
    width: 100%;
}
.bullet {
    width: 100%;
    position: relative;
    top: 50%;
}
.one {
    z-index: -2;
}
#two {
    top: 280px;
}
.three {

}
#four {
    top: 1200px;
}
.five {

}
#six {
    top: 2300px;
}
.seven {

    height: 1500px;
}
#eight {
    top: 3900px;
    background: linear-gradient(rgba(255, 255, 255, 0.8) 0%, white 90%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}
#foot {
    position: relative;
    z-index: 100;
}
@media screen and (max-width: 767px) {
    .bkImages {
    width: 200%;
    -webkit-transform: translateX(-24%);
    -ms-transform: translateX(-24%);
    -o-transform: translateX(-24%);
    transform: translateX(-24%);
    }

    .one {
        height: 600px;
    }
    .five {
        background-position: -95%;
    }
    .seven {
        height: 1400px;
        background-position: -90%;
    }
    #two {
        top: 400px;
    }
    #four {
        top: 1100px;
    }
    #six {
        top: 2100px;
    }
    #eight {
        top: 3600px;
    }
}

@media screen and (max-aspect-ratio: 3/2) and (min-width: 768px) {
    .bkImages {
        width: 200%;
        height: initial;
        transform: translateX(-25%);
    }
}