p {
    color: black;
}
.uncle .container {
    padding-top: 40px;
    padding-bottom: 40px;
}
.uncle ul {
    font-size: 2em;
    padding-top: 30px;
}
.brother {
    position: static;
    background-size: cover;
    background-attachment: fixed;
    height: 800px;
    width: 100%;
    top: 0;
}
.brother>p {
    margin: 0;
}
.brother>h1 {
    font-size: 5em;
    position: relative;
    top: 35%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: white;
    margin: 0;
}
.uncle {
    text-align: left;
    position: absolute;
    background: linear-gradient(rgba(255, 255, 255, 0.9) 0%, white 40%, white 60%, rgba(255, 255, 255, 0.9)100%);
    background-size: cover;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}
.bullet {
    width: 100%;
    position: relative;
    top: 50%;
}
.one {
    
}
#two {
    top: 800px;
}
.three {
    
}
#four {
    top: 1600px;
}
.five {
    
}
#six {
    top: 2400px;
}
.seven {
    
    height: 1100px;
}
#eight {
    top: 3500px;
    background: linear-gradient(rgba(255, 255, 255, 0.8) 0%, white 90%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}
#foot {
    position: relative;
    z-index: 100;
}
@media screen and (max-width: 767px) {
    .one {
        height: 600px;
    }
    .five {
        background-position: -95%;
    }
    .seven {
        height: 900px;
        background-position: -90%;
    }
    #two {
        top: 600px;
    }
    #four {
        top: 1400px;
    }
    #six {
        top: 2200px;
    }
    #eight {
        top: 3100px;
    }
}
