body {

}

p {
  color: black;
}



#home img {
  height: 50px;
}

.uncle .container {
  padding-top: 50px;
}

.uncle ul {
  font-size: 2em;
  margin-left: 50px;
  padding-top: 30px;
}

.brother {
  position: static;
  background-size: cover;
  background-attachment: fixed;
  height: 900px;
  width: 100%;
  top: 0;
}

.brother>p {
  margin:0;
}

.uncle {
  text-align: left;
  position: absolute;
  background: linear-gradient(rgba(255,255,255,0.9) 0%, white 40%, white 60%, rgba(255,255,255,0.9)100%);
  background-size: cover;
  height: 400px;
  width: 100%;
}

.bullet {
  width: 100%;
  position: relative;
  top: 50%;
}

.one {
  background-image: url("../../photos/office-ppl.jpg");
}

#two {
  top: 700px;
}

.three {
  background-image: url("../../photos/sky.jpg");
}

#four {
  top: 1600px;
  height: 450px;
}

.five {
  background-image: url("../../photos/office-ppl.jpg");
}

#six {
  top: 2500px;
}

.seven {
  background-image: url("../../photos/network.jpg");
  height: 1100px;
}

#eight {
  top:3400px;
  background: linear-gradient(rgba(255,255,255,0.8) 0%, white 90%);
}

#foot {
  position: relative;
  z-index: 100;
}

.ftLinks {
  bottom:;
}
