body {

}

p {
  color: black;
}



#home img {
  height: 50px;
}

.uncle .container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.uncle ul {
  font-size: 2em;
  margin-left: 50px;
  padding-top: 30px;
}

.brother {
  position: static;
  background-size: cover;
  background-attachment: fixed;
  height: 900px;
  width: 100%;
  top: 0;
}

.brother>p {
  margin:0;
}

.uncle {
  text-align: left;
  position: absolute;
  background: linear-gradient(rgba(255,255,255,0.9) 0%, white 40%, white 60%, rgba(255,255,255,0.9)100%);
  background-size: cover;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

.bullet {
  width: 100%;
  position: relative;
  top: 50%;
}

.one {
  background-image: url("../../photos/biz.jpg");
}

#two {
  top: 900px;
}

.three {
  background-image: url("../../photos/simple.jpg");
}

#four {
  top: 1800px;
}

.five {
  background-image: url("../../photos/office-ppl.jpg");
}

#six {
  top: 2700px;
}

.seven {
  background-image: url("../../photos/shadow.jpg");
  height: 1100px;
}

#eight {
  top:3800px;
  background: linear-gradient(rgba(255,255,255,0.8) 0%, white 90%);
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}

#foot {
  position: relative;
  z-index: 100;
}

.ftLinks {
  bottom:;
}
