body {
  position: relative;
  top:-10px;
}

p {
  color: black;
}


#home img {
  height: 50px;
}

.uncle .container {
  padding-top: 50px;
}

.uncle ul {
  font-size: 2em;
  margin-left: 50px;
  padding-top: 30px;
}

.brother {
  position: static;
  background-size: cover;
  background-attachment: fixed;
  height: 1100px;
  width: 100%;
  top: 0;
}

.brother>h1 {
  font-size: 5em;
  position: relative;
  top:35%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  color:white;
  margin: 0;
}

.brother img {
    height: 140px;
    transform: translateY(10px);
}

.uncle {
  top: 600px;
  text-align: left;
  position: relative;
  background: linear-gradient(rgba(255,255,255,0.8) 0%, white 100%);
  background-size: cover;
  height: 400px;
  width: 100%;
}

.bullet {
  width: 100%;
  position: relative;
  top: 50%;
}

.one {
  background-image: url("../../photos/hand.jpg");
}

#two {
  top: 700px;
}

#foot {
  position: relative;
  z-index: 100;
}

.ftLinks {
  bottom:;
}

.ftLogo {
  width: 420px;
}
